<!-- edit_profile.html -->
<form method="post" action="{% url 'edit_profile' customer.id %}">
    {% csrf_token %}

    <label for="profile_id">Select Profile:</label>
    <select id="profile_id" name="profile_id" required>
        {% for profile in profiles %}
            <option value="{{ profile.id }}">{{ profile.profilename }}</option>
        {% endfor %}
    </select>

    <!-- Fields for editing profile name -->
    <div id="profileNameFields">
        <label for="profilename">Edit Profile Name:</label>
        <input type="text" id="profilename" name="profilename">
    </div>

    <!-- Fields for changing PIN -->
    <div id="pinChangeFields">
        <label for="existing_pin">Enter Existing PIN:</label>
        <input type="password" id="existing_pin" name="existing_pin">
        <label for="new_pin">Change to New PIN:</label>
        <input type="password" id="new_pin" name="new_pin">
        <label for="confirm_new_pin">Confirm New PIN:</label>
        <input type="password" id="confirm_new_pin" name="confirm_new_pin">
    </div>

    <!-- Fields for changing avatar -->
    <div id="avatarChangeFields">
        <label for="avatar">Edit Avatar:</label>
        <input type="file" id="avatar" name="avatar">
    </div>

    <!-- Button to submit the form and save changes -->
    <button type="submit">Save Changes</button>
</form>

<script>
    function showProfileNameFields() {
        document.getElementById("profileNameFields").style.display = "block";
        document.getElementById("pinChangeFields").style.display = "none";
        document.getElementById("avatarChangeFields").style.display = "none";
    }

    function showPinChangeFields() {
        document.getElementById("pinChangeFields").style.display = "block";
        document.getElementById("profileNameFields").style.display = "none";
        document.getElementById("avatarChangeFields").style.display = "none";
    }

    function showAvatarChangeFields() {
        document.getElementById("avatarChangeFields").style.display = "block";
        document.getElementById("profileNameFields").style.display = "none";
        document.getElementById("pinChangeFields").style.display = "none";
    }
</script>
